<div class="bg-white">
  <main class="mx-auto max-w-4xl px-4 pb-24 pt-16 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ 'CART.TITLE' | translate }}</h1>
    <p class="mt-2 text-lg text-gray-500">{{ 'CART.GOT' | translate }} {{ cartItems.length }} {{ 'CART.ITEMS' | translate }}</p>

    <div class="mt-12">
      <section aria-labelledby="cart-heading">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        @if (cartItems.length > 0) {
          <ul role="list" class="divide-y divide-gray-200 border-b border-t border-gray-200">
            @for (item of cartItems; track item.variantId) {
              <li class="flex py-6 sm:py-10">
                <div class="flex-shrink-0">
                  <img [src]="item.imageUrl || 'https://placehold.co/200/f4f0f0/181111?text=No+Image'" [alt]="item.productName" class="h-24 w-24 rounded-lg border border-gray-200 bg-gray-50 object-contain object-center sm:h-32 sm:w-32">
                </div>

                <div class="ml-4 flex flex-1 flex-col justify-between sm:ml-6">
                  <div>
                    <div class="flex justify-between font-medium text-gray-900">
                      <h3><a [routerLink]="['/product', item.productId]">{{ item.productName }}</a></h3>
                      <div class="ml-4 text-right">
                        @if(item.currentSalePrice) {
                          <p class="font-medium text-red-600">{{ item.currentSalePrice * item.quantity | currency:'EUR' }}</p>
                          <p class="text-sm text-gray-500 line-through">{{ item.originalPrice * item.quantity | currency:'EUR' }}</p>
                        } @else {
                          <p class="font-medium text-gray-900">{{ item.originalPrice * item.quantity | currency:'EUR' }}</p>
                        }
                      </div>
                    </div>
                    <div class="mt-1 flex flex-wrap gap-x-4 gap-y-1 text-sm text-gray-500">
                      @for(attr of item.attributes; track attr.attribute_name) {
                        <p>{{ attr.attribute_name }}: {{ attr.attribute_value }}</p>
                      }
                    </div>
                  </div>
                  <div class="mt-4 flex items-center justify-between">
                    <div class="w-24">
                      <label for="quantity-{{item.variantId}}" class="sr-only">Quantità</label>
                      <input type="number" id="quantity-{{item.variantId}}" name="quantity-{{item.variantId}}" [ngModel]="item.quantity" (input)="updateQuantity(item.variantId, $event)" min="1" [max]="item.stock" class="block w-full rounded-lg border-0 bg-[#f4f0f0] py-1.5 text-center text-base font-medium leading-5 text-gray-700 shadow-sm focus:ring-2 focus:ring-inset focus:ring-red-500 sm:text-sm focus:outline-none">
                    </div>
                     <button type="button" (click)="removeItem(item.variantId)" class="text-sm font-medium text-red-600 hover:text-red-500 cursor-pointer"><span>{{ 'CART.REMOVE' | translate }}</span></button>
                  </div>
                </div>
              </li>
            }
          </ul>
        } @else {
          <div class="text-center py-16 border-y border-gray-200">
            <p class="text-gray-500">{{ 'CART.EMPTY' | translate }}</p>
            <a routerLink="/" class="mt-4 inline-block rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white hover:bg-red-700">{{ 'CART.KEEP_SHOPPING' | translate }}</a>
          </div>
        }
      </section>

      @if(cartItems.length > 0) {
        <!-- Riepilogo Ordine -->
        <section aria-labelledby="summary-heading" class="mt-10">
          <div class="rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:p-8">
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">{{ 'CART.ORDER_SUMMARY' | translate }}</h2>
            <dl class="mt-6 space-y-4">
              <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                <dt class="text-base font-medium text-gray-900">{{ 'CART.TOTAL' | translate }}</dt>
                <dd class="text-base font-medium text-gray-900">{{ total | currency:'EUR' }}</dd>
              </div>
            </dl>
            <div class="mt-6">
              <button type="submit" routerLink="/checkout" class="cursor-pointer w-full rounded-md border border-transparent bg-red-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50">{{ 'CART.CHECKOUT' | translate }}</button>
            </div>
          </div>
        </section>
      }
    </div>
  </main>
</div>